@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,500&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    color: white
}

$background: #121213;
$button-background: hsl(210, 1%, 51%);
$wrong-letter: #797c7f;
$wrong-location-letter: #b59f3b;
$correct-letter: #538d4e;
html {
    font-size: 16px;
}

body {
    background-color: $background;
    font-family: "Poppins", Roboto, sans-serif;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    // margin: 0 auto;
}

.guess-area-wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 5px;

    // margin-bottom: 20px;

    .tile {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 60px;
        border: 1px solid hsl(0, 0%, 44%);
        // border-radius: 50%;

        font-size: 2rem;
        line-height: 2rem;
        text-transform: uppercase;
        user-select: none;
    }

    [data-state="unsubmitted"] {
        border: 1px solid white;
    }

}
.keyboard-area {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(3, 50px);
    gap: 5px;

    width: 500px;
    .btn {
        grid-column: span 2;
        background-color: $button-background;
        border-radius: .5em;
        user-select: none;
        transition: 0.2s ease;

        &:hover {
            background-color: lighten($button-background, 25%)
        }
    }


    .big {
        grid-column: span 3;
    }
}

[data-state="incorrect"] {
    background-color: $wrong-letter !important;
    border: none !important;
}

[data-state="wrong-location"] {
    background-color: $wrong-location-letter !important;
    border: none !important;
}

[data-state="correct"] {
    background-color: $correct-letter !important;
    border: none !important;
}

@media screen and (max-width: 600px) {
    .keyboard-area {
        width: 80%
    }
}