@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,500&display=swap');
@import 'colors';

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    color: white
}


$letter-length: var(--letter-length);

html {
    font-size: 16px;
}

:root {
    --letter-length: 5;
}

body {
    background-color: $background;
    font-family: "Poppins", Roboto, sans-serif;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    // margin: 0 auto;
}

header {
    min-width: 100%;
    padding: 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    
    ul {
        display: flex;
        justify-content: center;
        gap: 20px;
        list-style: none;

        a {
            text-decoration: none;
            padding: 10px;
        }

        a:hover {
            background-color: $button-background;
            border-radius: .25rem;
        }

        .highlighted {
            background-color: white !important;
            border-radius: .25rem;
            color: black;
        }
    }
}

.guess-area-wrapper {
    display: grid;
    grid-template-columns: repeat($letter-length, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 5px;

    // margin-bottom: 20px;

    .tile {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 60px;
        border: 1px solid hsl(0, 0%, 44%);
        // border-radius: 50%;

        font-size: 2rem;
        line-height: 2rem;
        text-transform: uppercase;
        user-select: none;
    }

    [data-state="unsubmitted"] {
        border: 1px solid white;
    }

}
.keyboard-area {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(3, 50px);
    gap: 5px;

    width: 500px;
    .btn {
        grid-column: span 2;
        background-color: $button-background;
        border-radius: .5em;
        user-select: none;
        transition: 0.2s ease;

        &:hover {
            background-color: lighten($button-background, 25%)
        }
    }


    .big {
        grid-column: span 3;
    }
}

[data-state="incorrect"] {
    background-color: $wrong-letter !important;
    border: none !important;
}

[data-state="wrong-location"] {
    background-color: $wrong-location-letter !important;
    border: none !important;
}

[data-state="correct"] {
    background-color: $correct-letter !important;
    border: none !important;
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    transition: all 0.5s ease;
    display: none;
    padding: 20px;
    border-radius: .5rem;
    background: black;

    font-size: 1.5em;

    &.show {
        display: flex;
        flex-direction: column;
        gap: 10px;
        transform: translate(-50%, -50%);
    }

    button {
        padding: 8px;
        margin-right: 10px;
        border-radius: .25rem;
        transition: all 0.25s ease;
        font-size: inherit;
        &#restart {
            box-shadow: 0 5px 0 darken($correct-letter, 20%);
            background: $correct-letter
        }

        &#close {
            background: lighten(red, 20%);
            box-shadow: 0 5px 0 darken(red, 20%);
        }

        &:active {
            transform: translateY(3px);
            box-shadow: none !important;
        }

        &:hover {
            filter: brightness(120%)
        }
    }
}

@media screen and (max-width: 600px) {
    .keyboard-area {
        width: 80%
    }

    header {
        flex-direction: column;
    }
}